.banner-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner-text h2 {
    line-height: 1;
    font-size: 2rem;
    margin: 1rem 0;
}

.spacers-banner {
    padding: 10px 30px;
    border-bottom: 5px solid;
    border-bottom-color: #5e5e5e;
    background-color: #f4f7fc;
    color: black;
}

.banner-image {
    margin: 15px 0;
    user-select: none;
}

.docs {
    padding: 0 50px;
}

.docs-links {
    background: #F4F6FA;
    position: sticky;
}

.docs-links .nav-pills a {
    color: black;
    font-size: 14px;
}

.docs-links .nav-pills {
    top: 20px;
    position: sticky;
}

.docs .docs-section {
    margin-bottom: 90px;
}

.docs .docs-section .docs-title {
    padding: 0px 0 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    color: #384248;
    font-size: 30px;
}

.docs .docs-section .main-title {
    text-align: center;
    font-size: 35px;
}

.docs-links .nav-pills .nav-link.active,
.docs-links .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #5e5e5e;
}

.documentation .row {
    margin: 0;
}

.element-block {
    padding: .75rem;
    background-color: #f7f7f7;
    border: 1px solid rgba(86, 61, 124, .2);
}

.docs-btn {
    background-color: #111827;
    border-color: black;
    transition: 0.5s opacity;
    padding: 20px;
}

.docs-btn:hover {
    background-color: #111827;
    opacity: 0.9;
}

.cta-btn {
    padding: 12px;
    background: #111827;
    border: black;
    color: white;
}

.cta-btn:hover {
    background-color: #111827;
    opacity: 0.9;
    color: white;
}

.download-btn {
    background: white;
    color: black;
    border: 2px solid black;
}

.download-btn:hover {
    opacity: 0.8;
    color: black;
    background: white;
}

.some-dope-class {
    background: #21f749 !important;
}

.center {
    text-align: center;
}

.bookmarklet-btn {
    padding: 0.75rem 1rem;
    cursor: move;
    color: rgba(32, 28, 28, 0.7);
    background-color: rgb(11 10 10 / 8%);
    border-color: rgb(17 12 12 / 20%);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.bookmarklet-btn:hover {
    text-decoration: none;
}